**/.classpath
**/*.drawio
**/.dockerignore
**/.env
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/package-lock.json
**/*.http
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
README.md
